* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Inter;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    width: 80%;
    height: 92px;
    margin: 0 auto;
    padding: 0 20px;
}

#btn1 {
    width: 164px;
    height: 44px;
    background-color: #30B868;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    font-size: 16px;
    font-family: Inter;
    border: none;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
    font-family: Inter;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.banner {
    background-image: url('/ASSIGNMENTS-1/assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.banner h1 {
    color: #FFFFFF;
    font-size: 64px;
    font-family: Inter;
    font-weight: 700;
    margin-bottom: 0px;
    font-size: 96px;
    line-height: 112px;
}

.banner p {
    color: #FFFFFF;
    font-size: 18px;
    font-family: Inter;
    line-height: 24px;
    margin: 0px;
}

.btn1 {
    height: 40px;
    width: auto;
    border-radius: 20px;
    padding: 10px 16px;
    background-color: #FFFFFF;
    color: #30B868;
    font-size: 14px;
    font-weight: 600;
    font-family: Inter;
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.bt1 {
    display: flex;
    gap: 17px;
    margin: 0px;
}

.b1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 251px;
    padding: 0 3px;
    background-color: hsl(145, 60%, 36%);
    font-size: 16px;
    color: #fff;
    border: 1px solid hsl(145, 60%, 36%);
    border-radius: 2px;
    gap: 8px;
}

.b1 img {
    display: block;
    width: 20px;
    height: 20px;
}

.b2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    width: 198px;
    padding: 0 3px;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    gap: 8px;
}

.b2 img {
    display: block;
    width: 20px;
    height: 20px;
}

.high {
    height: 117px;
    width: 1360px;
    font-family: Inter;
    color: #001931;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

.container p {
    text-align: center;
    font-size: 16px;
    color: #627382;
    margin-top: 45px;
    margin-bottom: 60px;
}

.container2 {
    display: flex;
    justify-content: center;
    gap: 5px;
    max-width: 80%;
    margin: 0 auto;
}

.box {
    height: 300px;
    width: 322px;
    border: 1px solid #E1E8ED;
    border-radius: 8px;
    padding: 35px 20px;
    text-align: center;
}

.box img {
    margin-top: 0;
    margin-bottom: 5px;
    border-radius: 50%;
    height: 56px;
    width: 56px;
    background-color: red;
    padding: 16px;
}

.box h3 {
    font-size: 22px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 0;
}

.box p {
    margin-top: 12px;
    font-size: 16px;
    color: #001931;
}

.card {
    margin-bottom: 15px;
}

.sol1 {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 60px;
}

.sol2 {
    text-align: left;
}

.sol2-label {
    font-size: 16px;
    font-family: Inter;
    margin-bottom: 5px;
}

.sol2 h2 {
    font-size: 48px;
    font-family: Inter;
    font-weight: bold;
    margin-bottom: 10px;
    color: #001931;
}

.sol2 p {
    color: #627382;
    font-size: 16px;
}

.sol2-list {
    margin-top: 40px;
    list-style-type: none;
    font-weight: bold;
    font-size: 16px;
    color: #001931;
}

.sol2-list li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container3 {
    margin-bottom: 120px;
}

.early1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.early2 {
    border: 2px solid #F7F6F2;
    height: 384px;
    margin: 0 auto;
    width: 80%;
    background-color: #F7F6F2;
    border-radius: 20px;
}

.ebtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 194px;
    padding: 0 2px;
    background-color: hsl(145, 60%, 36%);
    font-size: 16px;
    color: #fff;
    border: 1px solid hsl(145, 60%, 36%);
    border-radius: 2px;
    gap: 8px;
    margin: 0 auto;
}

.ebtn img {
    display: block;
    width: 16px;
    height: 16px;
}

.container4 {
    margin-bottom: 120px;
}

.footer {
    background-color: #001931;
    width: 100%;
    padding: 15px 0;
    color: #FFFFFF;
    font-family: Inter;
}

.container5 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 40px;
}

.footer-logo img {
    height: 60px;
}

.footer-social h4 {
    font-size: 16px;
    font-family: Inter;
    font-weight: semi-bold;
    margin-bottom: 16px;
    color: #FFFFFF;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    display: inline-block;
}

.footer-bottom {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 2px;
}

.line {
    border-top: 1px solid #818284;
}